{{> header }}
<div class="max-w-7xl mx-auto px-5 py-3 z-0">
  <h1 class="text-3xl font-bold text-[#333]">OUR FOOD RECIPES ARE THE BEST</h1>
  <p class="font-karla gap-y-3"><span class="font-bold">Food recipes</span> based on your search query. Also find the trending recipe searches around.</p>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 py-3">
    <div class="border border-black flex items-stretch relative">
      <img src="food.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
              <h1 class="text-white absolute  flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Healthy Food</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="food2.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
              <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Best Quality Ingredients</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="food3.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
              <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Nutritious Food Recipes</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="food4.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
              <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Best Food Quantity</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="food5.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30">
      <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Best Food Quantity</h1>
</div>
    </div>
    <div class="border border-black flex items-stretch relative">
      <img src="food6.jpg" />
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30 duration-300">
        <h1 class="text-white absolute flex w-full mb-3 justify-center bottom-0 text-2xl font-bold">Best Food Quantity</h1>
      </div>
    </div>
  </div>
</div>
{{> footer}}